:root {
    --color-default-rgb: 255, 255, 255;
    --color-primary: #e84545;
    --color-primary-rgb: 232, 69, 69;
    --color-secondary: #32353a;
}

header {
    background-image: url('../img/hero-bg.jpg');
    background-size: cover;
    background-position: center center;
}

header .layer-home {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

header h1 {
    font-size: 44px;
    font-weight: 700;
    color: #fff;
}

header p {
    font-size: 20px;
    color: rgba(var(--color-default-rgb), 0.8);
}

header .sign-up-form {
    padding: 10px;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
}


header .sign-up-form input[type='submit'] {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    padding: 8px 20px 10px 20px;
    border-radius: 7px;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s all;
}

header .form-control:focus {
    box-shadow: 0 0 0 .25rem white;
}

header .sign-up-form input[type='submit']:hover {
    background-color: rgba(var(--color-primary-rgb), 0.9);
}


/* 
            navbar
*/


.navbar .btn-getstarted {
    background-color: var(--color-primary);
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    padding: 8px 26px;
    border-radius: 4px;
}

/* 
        clients
*/

.clients .inner-cli img {
    width: 80%;
    filter: grayscale(100);
    opacity: 0.5;
    transition: 0.5s all;
}

.clients .inner-cli img:hover {
    filter: none;
    opacity: 1;
}

.clients .client-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 
about

*/

.about {
    background-color: #f4f4f4;
}

.about .about-con h3 {
    font-size: 16px;
    font-weight: 500;
    padding: 10px 20px;
    background-color: rgba(var(--color-primary-rgb), 0.05);
    display: inline-block;
    color: var(--color-primary);
    border-radius: 7px;
}

.about .about-con h2 {
    color: var(--color-secondary);
    font-weight: 700;
}

.about .about-con p {
    color: #212529;
}

.about .about-con .read-more {
    text-decoration: none;
    color: #fff;
    background-color: var(--color-primary);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 12px 24px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s all;

}

.about .about-con .read-more:hover {
    padding-right: 19px;
    background-color: rgba(var(--color-primary-rgb), 0.8);
}

.about .about-con .read-more i {
    font-size: 17px;
    margin-left: 5px;
    transition: 0.5s all;
}

.about .about-con .read-more:hover i {
    margin-left: 10px;
}

/* 
 */
.about .inner-abo {
    padding: 50px 40px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
}



.about .inner-abo i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgba(var(--color-primary-rgb), 0.05);
    color: var(--color-primary);
    transition: all 0.4s ease-out;
}

.about .inner-abo:hover i {
    background-color: var(--color-primary);
    color: #fff;
}

.about .inner-abo h3 {
    font-size: 24px;
    font-weight: 700;
}

.about .inner-abo p {
    color: #212529;
}


.about .col-md-6:nth-child(2) .inner-abo,
.about .col-md-6:nth-child(4) .inner-abo {
    margin-top: -40px;
}


/* 

stats
*/

.stats {
    padding: 120px 0px;
    background-image: url('../img/stats-bg.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
}

.stats .layer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.stats .stats-item span {
    font-size: 48px;
    font-weight: 700;
    color: #fff;
}

.stats .stats-item p {
    font-size: 16px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.6);
}

/* 

services

*/

.services h2 {
    font-size: 32px;
    font-weight: 700;
    color: var(--color-secondary);
    position: relative;
}

.services h2::after {
    content: "";
    width: 50px;
    height: 2px;
    background-color: var(--color-primary);
    position: absolute;
    top: 52%;
    left: 55%;
}

.services h2::before {
    content: "";
    width: 50px;
    height: 2px;
    background-color: var(--color-primary);
    position: absolute;
    top: 52%;
    right: 55%;
}

.services p {
    color: #212529;
}

.services .items-se i {
    font-size: 50px;
    color: rgba(33, 37, 41, 0.7);
    transition: 0.5s all;
}



.services .items-se .tiile {
    font-size: 18px;
    font-weight: 700;
}

.services .icon::after {
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgba(var(--color-primary-rgb), 0.3);
    position: absolute;
    bottom: 45px;
    right: -13px;
}

.services .items-se .description:hover a {
    color: var(--color-primary);
}

.services .items-se a {
    text-decoration: none;
    color: var(--color-secondary);
}

.services .items-se p {
    line-height: 24px;
    font-size: 14px;
}


.services .items-se::after {
    content: "";
    width: 92%;
    height: 2px;
    background-color: rgba(33, 37, 41, 0.1);
    position: absolute;
    top: 0;
    right: 0;
}

.services .items-se::before {
    content: "";
    width: 7%;
    height: 2px;
    background-color: var(--color-primary);
    position: absolute;
    top: 0;
    left: 0;
}